<article class="contact active" data-page="contacto">
    <header>
        <h2 class="h2 article-title">Contacto</h2>
    </header>
    <section class="contact-form">
        <h3 class="h3 form-title title_desarrolladores">Contactanos</h3>
        <div class="img_general_mosotros">
            <img class="imagenNosotros" src="assets/img/logos/ESPE.png" alt="Logo ESPE">
        </div>

        <p class="service-item-text" style=" text-align: justify;">
            Somos una Insitución de Educación Superior Pública en la provincia de Santod Domingo de los Tsáchilas.
            Contamos con tres carreras de Ingeniería en Tecnologías de la Información, Ingeniería en Biotecnología e
            Igeniería en Agropecuaria.
            Puedes ponerte en contacto con nosotros a través de los siguientes medios:
        </p>

        <div class="contenedor_foto_docente">
          <!-- Crea un formulario para ingresar una opinión y mediante un correo electrónico -->
          <div class="formulario">
            <form action="enviar.php" method="post">
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
              </div>
              <div class="form-group
              ">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="form-group
              ">
                <label for="mensaje">Mensaje:</label>
                <textarea class="form-control" id="mensaje" name="mensaje"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
          <!-- Crea un mapa para mostrar la ubicación de la institución -->
          <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9489.193709833304!2d-79.31381236129026!3d-0.4133616408400468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1706984637609!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>


        </div>
    </section>
</article>
